* {
  font-family: "Mulish", sans-serif;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
 }

.login-button, .register-button {
  font-size: 20px;
  padding: 8px 16px;
  margin: 5px;
  border: none;
  border-radius: 20px;
  background-color: #282A35;
  color: #FFFFFF;
}

.login-button:hover, .register-button:hover {
  background-color: #374151;
  }

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 56px);
}

.welcome-message {
  font-size: 24px;
}

